
.MoviePanel {
    padding:30px;
    Margin:50px;
    border:1px solid black;
}
.poster{
    justify-content: row
}
.title{
    justify-content: row
}
.information{
    justify-content: row
}
.showtimes{
    justify-content: row
}


